{% extends "layout/base.html" %}
    {% block title %} <title>Main Page</title> {% endblock %}

    {% block main_content %}

            <div class="boxx">

                        {% for entry in entries %}
                        <div class="center">
                            <div class="box_all">
                                <p>{{ entry.title }}</p>
                                <img src="{{ entry.picture.url }}" style="height:500px;" alt=''>
                                <p><a class=header__logo" href="{{ entry.author.id }}">{{entry.author}}</a></p>
                            </div>
                            <BR>
                        </div>
                        {% endfor %}

            </div>



    {% endblock %}

    {% block some_script %} <script src="/static/get.js"></script> {% endblock %}
