{% extends "layout/base.html" %}
{% block title %} <title>Art-Works</title> {% endblock %}
{% block href %}
<a class="nav__link" href="{% url 'main' %}">Main Page</a>
<a class="nav__link" href="{% url 'logout' %}">Log out</a>
{% endblock %}
{% block main_content %}

<div class="boxx">

    {% for entry in entries %}
    <div class="center">
        <div class="box_all">
            <p>{{ entry.title }}</p>
            <p>Description: {{ entry.description }}</p>
            <img src="{{ entry.picture.url }}" style="height:500px;" alt=''>
            <p>Author: {{ entry.author }}</p>
            <p><a class="nav__link" href="{% url 'add_comment' %}">Login</a></p>
        </div>
        <BR>
    </div>
    {% endfor %}

</div>


{% endblock %}

{% block some_script %}
<script src="/static/get.js"></script> {% endblock %}
