body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000;
    line-height: 1.6;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('space.jpg');
    background-attachment: fixed;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    font-size: 110px;
    font-weight: 700;
    color: #675cdbfe;
    text-transform: uppercase;
    line-height: 1;
}

.intro__subtitle {
    margin-bottom: 40px;
    font-size: 45px;
    color: #b3bbfc;
}

.intro__addition {
    font-size: 10px;
    color: #b3bbfc;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #b3bbfc;
}

/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #b3bbfc;
    text-decoration: none;

    transition: color 0.1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #001aff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s;
}

.nav__link:hover {
    color: #001aff;
}

.nav__link:hover:after {
    opacity: 1;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 7px 110px;

    border:5px solid #b3bbfc;

    font-size: 14px;
    font-weight: 700;
    color: #b3bbfc;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
    background-color: #675cdbfe;
    color: #b3bbfc;
}

/* Entries */
.center {
  margin: auto;
  width: 70%;
}


/* Остальные стили */
.boxx {
    padding: 80px;
    overflow: auto;
    text-align: center;
}

.box_all {
  padding: 12px;
  background: #fff;
  box-shadow: 2px 1px 6px rgba(0,0,0,.2);
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

p:last-child {
    background: #fff;
    box-shadow: 2px 1px 6px rgba(0,0,0,.2);
    box-sizing: border-box;
    text-align: center;
}

/* Creating enties */
$white: rgba(255,255,255,0.3);

body {
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.form__container {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

form {
  background: $white;
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;

  p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }

  a {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;

    &:hover {
      text-shadow: 2px 2px 6px #00000040;
    }

    &:active {
      text-shadow: none;
    }
  }

  input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);

    &:hover {
      background: rgba(255,255,255,0.1);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    }

    &[type="email"],
    &[type="password"] {

      &:focus {
        background: rgba(255,255,255,0.1);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
      }
    }

    &[type="button"] {
      margin-top: 10px;
      width: 150px;
      font-size: 1rem;

      &:hover {
        cursor: pointer;
      }

      &:active {
        background: rgba(255,255,255,0.2);
      }
    }
  }

  &:hover {
    margin: 4px;
  }
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.drop {
  background: $white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;

  &-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
  }

  &-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
  }

  &-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
  }

  &-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
  }

  &-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
  }
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

